<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function getLocation() {
            if (window.navigator.geolocation) {
                var options = {
                    enableHighAccuracy: true,
                    maximumAge: 0
                };

                function success(pos) {
                    var crd = pos.coords;

                    console.log('Your current position is:');
                    console.log(`Latitude : ${crd.latitude}`);
                    console.log(`Longitude: ${crd.longitude}`);
                    console.log(`More or less ${crd.accuracy} meters.`);

                    window.location.href = `/?lat=${crd.latitude}&lon=${crd.longitude}`
                }

                function error(err) {
                    console.warn(`ERROR(${err.code}): ${err.message}`);
                }
                window.navigator.geolocation.getCurrentPosition(success, error, options)
            }
        }
    </script>
</head>

<body>
    <button onclick=getLocation()>Click</button>
</body>

</html>