<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Weather Boosted Pokemon</title>
</head>

<body>
    <div class="container">

        <!-- Page title and description -->
        <h1>Weather Boosted Pokemons!</h1>
        <!-- Show what the weather is in your location -->
        <p>The weather in your local area is: {{weather_desc}}</p>
        <div>
            <button class="button" onclick="sortTable(0, 'True')">Sort Alphabetically</button>
            <button class="button" onclick="sortTableNumbers(1, 'score')">Sort By Score</button>
            <button class="button" onclick="sortTableNumbers(2, 'False')">Sort By Legendary</button>
            <button class="button" onclick="sortTableNumbers(3, 'likelihood')">Sort By Likelihood</button>
        </div>
        <!-- Show the table of pokemons with weather boosts -->
        <table class="table" id="pokemonTable">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Score</th>
                  <th scope="col">Legendary</th>
                  <th scope="col">Likelihood</th>
                </tr>
              </thead>
            <tbody>
                {% for pokemon in pokemon_likelihoods %}
                <tr>
                    <td>{{pokemon.name}}</td>
                    <td>{{pokemon.score}}</td>
                    <td>{{pokemon.legendary}}</td>
                    <td>{{pokemon.likelihood}}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function sortTable(column, reverse) {
          var table, rows, switching, i, x, y, shouldSwitch;
          table = document.getElementById("pokemonTable");
          switching = true;
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
              x = rows[i].getElementsByTagName("TD")[column];
              y = rows[i + 1].getElementsByTagName("TD")[column];
              //check if the two rows should switch place:
              if (reverse == 'True') {
                  compare = x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()
              }
              else {
                  compare = x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()
              }
              if (compare) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
            }
          }
        }

        function sortTableNumbers(column, colName) {
          var table, rows, switching, i, x, y, shouldSwitch;
          table = document.getElementById("pokemonTable");
          switching = true;
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
              x = rows[i].getElementsByTagName("TD")[column];
              y = rows[i + 1].getElementsByTagName("TD")[column];

              if(colName == 'likelihood'){
                x = x.innerHTML.slice(0,-1)
                y = y.innerHTML.slice(0,-1)
              }
              else {
                  x = x.innerHTML
                  y = y.innerHTML
              }
              //check if the two rows should switch place:
              if (parseInt(x) < parseInt(y)) {
                  
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
            }
          }
        }
        
        </script>
</body>

</html>